<h1>Projects</h1>
<ul id='projects'>
  <% @projects.each do |project| %>
    <%= link_to project do %>
     <li><%= render(project) %></li>
    <% end %>
  <% end %>
</ul>
<%= link_to "New Project", new_project_path %>