<div class='project' data-project-id='<%= @project.id %>'>
  <h1 class='project-name'> <%= @project.name.capitalize %> Project</h1>
  <p class='project-description'> <%= @project.description %></p>
  <%= render 'editor/show' %>
</div>
