<div id='editor-output-wrap'>
  <div id='editor-wrap'>
    <div id='editor-switcher'>
      <button data-mode='html'>HTML</button>
      <button data-mode='css'>CSS</button>
      <button data-mode='javascript'>JavaScript</button>
    </div>
    <div id='editors'>
      <textarea id='html_editor'><%= @html_code %></textarea>
      <textarea id='css_editor'><%= @css_code %></textarea>
      <textarea id='javascript_editor'><%= @javascript_code %></textarea>
    </div>
  </div>
  <div id='output-wrap'>
    <h2>Output</h2>
    <div id='output'>output</div>
  </div>
</div>