<h1>Chat</h1>
  <div id='messages' data-curent-user='<%= current_user %>'>
    <%= render @messages %>
  </div>
<form>
  <label>Say something:</label><br>
  <input type="text" data-behavior="room_speaker">
</form>
