// Place all the styles related to the editor controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background:#eee;
}

#editor-output-wrap {
  display: flex;
  margin-top: 2em;
  flex-wrap:wrap;
  max-width:95vw;
  #editor-wrap {
    flex:1 1 200px;
    min-width: 450px;
    display: flex;
    flex-direction:column;
  }
  #output-wrap {
    margin: 0 0 0 1em;
    flex: 1;
    h2 {
      font-size:1.25em;
      margin: 0;
      padding: 0;
    }
    display: flex;
    flex-direction:column;
    align-items:center;
  }
}

#editor-pane {
  // width:100vw;
  // height:55vh;
}

#editor-switcher {
  // margin-left:4vw;
  // margin-top:1em;
  button {
    cursor:pointer;
    display:inline-block;
    margin:0 0.5em 0 0;
    border-radius:none;
    border: 1px solid #888;
    border-bottom:none;
    padding:0.25em 0.75em;
    font-size:1em;
    font-family: 'droid sans';
    font-weight:bold;
    &:hover {
      background:#ccc;
    }
    &.current {
      background:orangered;
    }
  }
}

#output {
  align-self:stretch;
  height: 500px;
  flex:1 auto;
  overflow-y:auto;
  vertical-align:top;
  padding:1vw;
  font-size:1em;
  font-family:'droid sans';
  background:white;
  color:black;
  border: 2px solid #ccc;
  &.error {
    color:red;
  }
}

#editors, #output {
  // display:inline-block;
  // vertical-align:top;
  // height:60vh;
}

#editors {
  align-self:stretch;
  flex:1;
  height: 500px;
  // width:55vw;
  // margin-left: 1.5vw;
  // position:relative;
  .CodeMirror {
    height: 100%;
  //   position:absolute;
  //   top:0;
  //   left:0;
  //   width:55vw;
  //   height:63.5vh;
  }
  textarea {
    display:inline-block;
  }
}

#video {
  display:none;
  position:absolute;
  bottom:10px;
  left:10px;
  width:320px;
  height:240px;
  border:2px solid black;
  background:black;
  img {
    display:none;
  }
}
