// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#chat {
  background:black;
  width:92vw;
  height:20vh;
  overflow-y:scroll;
  padding:1em;
  margin:1em 0;
  .message, input, #editing_message {
    font-size:1.2em;
    letter-spacing:1px;
    font-family: 'VT323';
    background:none;
    border:none;
    color:#eee;
  }
  #editing_message {
    display:none;
  }
  input {
    border-bottom:3px solid white;
    width:100%;
    &:focus {
      outline:0;
      border:0;
    }
  }
  .message{
    margin:1.5em 1em;
    color:orangered;
    text-shadow: 0px 0px 1.5vh rgba(255, 69, 0, 0.6);
    text-align:right;
    .user {
      color: white;
      display: none;
    }
    &[data-current-user] {
      text-align:left;
      color:rgba(25,250,25, 0.8);
      text-shadow: 0px 0px 1.5vh rgba(50, 250, 50, 0.6);
    }
  }
}