header {
  font-family:'Droid Sans';
  font-size:1em;
  border-bottom: 1px solid #333;
  margin-bottom:1em;
  text-align:right;
  position:relative;
  height:4em;
  #logo {
    position:absolute;
    left:0;
    top:1.25em;
    left:1.25em;
    a {
      font-size:2em;
      text-decoration:none;
      font-weight:bold;
      font-family:'VT323';
      color:orangered;
    }
  } 
  #social {
    div {
      font-weight:bold;
      padding:1em;
    }
    div, a{
      display:inline-block;
      margin:0.5em 3em;
      text-decoration:none;
    }
    a {
      color:black;
    }
   }
}
