body {
  // font-family: 'Open Sans';
  font-family:'Share Tech Mono';
}

a:visited {
  color: inherit;
  &[data-method="delete"]{
    color: red;
  }
}

header {
  font-size:1em;
  display: flex;
  background: #333;
  align-items:center;
  justify-content:space-between;
  padding: 0 0.5em;
  #logo {
    padding: 0.5em;
    a {
      font-size:2em;
      text-decoration:none;
      font-weight:bold;
      font-family:'VT323';
      color:white;
    }
  }
  #social {
    div {
      font-weight:bold;
      padding:1em;
    }
    div, a{
      display:inline-block;
      margin:0.5em 1em;
      // text-decoration:none;
    }
    a {
      color:#aaa;
    }
  }
}

 #notifications {
  width: 100%;
  background: white;
  text-align: center;
  padding: 0.75em;
  .notice {
    color: green;
  }
  .alert {
    color: orangered;
  }
}

main {
  padding: 2em;
}