// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
main {
  display: flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  // margin:1em;
  form {
    .field {
      margin: 1em;
      input[type=email], input[type=password] {
        padding: 0.25em 0.5em;
        width: 15em;
        font-size:1.25em;
        font-family:'Share Tech Mono';
      }
    }
  }
  a {
    margin: 1em;
  }
}